# byte-compiled/optimized
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# distribution/packaging
.Python
build/
dist/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# pyenv
.python-version

# PEP 582;
__pypackages__/

# Environments
.env
.venv
env/
ENV/
env.bak/
venv.bak/
